@model Check02.Models.MdCao_Dono

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MdCao_Dono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCao_Dono }) |
    @Html.ActionLink("Back to List", "Index")
</p>
