@model Check02.Models.MdOferta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MdOferta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorOfertaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorOfertaFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOferta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
