@model IEnumerable<Check02.Models.MdOferta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            Descrição 
        </th>
        <th>
            Preço
        </th>
        <th>
            Tipo
        </th>
    </tr>

@foreach (var item in @ViewBag.Servico) {
<tr>
    <td>
        @item.DescricaoProduto
    </td>

    <td>
        @item.Preco
    </td>

    <td>
        @item.Tipo
    </td>

    <td>
        @Html.ActionLink("Adicionar", "AddProduto", new { IdProduto = item.IdServico }) 
    </td>
</tr>
}