@model IEnumerable<Check02.Models.MdOferta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />

<h3> Produtos </h3>


<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Preço
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in @ViewBag.Servico) {
<tr>
    <td>
        @item.DescricaoProduto
    </td>

    <td>
        @item.Preco
    </td>

    <td>
        @Html.ActionLink("Adicionar", "AddProduto", new { IdProduto = item.IdServico }) 
    </td>
</tr>
}




<table class="table">
    <h3> Produtos no Carrinho </h3>
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Preço
        </th>

        <th>

        </th>
    </tr>

    @foreach (var item in @ViewBag.ProdutosSelecionados)
    {
        <tr>
            <td>
                @item.DescricaoProduto
            </td>

            <td>
                @item.Preco
            </td>

            <td>
                @Html.ActionLink("Remover", "RemoverProduto", new { IdProduto = item.IdServico })
            </td>
        </tr>
    }

</table>